
    .btn-custom1{
      background-image: url('../img/blue.jpg');
    }
    .btn-custom2{
      background-image: url('../img/yellow.jpg');
    }
    .btn-custom3{
      background-image: url('../img/red.jpg');
    }
    .btn-custom1:hover {
      background-image: url('../img/blue2.jpg');
    }
    .btn-custom2:hover {
      background-image: url('../img/yellow2.jpg');
    }
    .btn-custom3:hover {
      background-image: url('../img/red2.jpg');
    }
    
    a .btn-custom1:hover {
      color: black;
    }
    a .btn-custom2:hover {
      color: black;
    }
    a .btn-custom3:hover {
      color: black;
    }

    a .btn-signup{
      background-color: rgb(120,172,153) !important;
    }
    a .btn-signup:hover{
      background-color: rgb(108, 117, 125,0.6) !important;
      color: black;
    }
    