body{
    background-image: url('../img/yellow.jpg');
  }
  
.list-group-item.active {
  background-image: url('../img/yellow.jpg');
  background-color:rgb(241, 255, 169);
  color:black !important;
  border-bottom: 1px solid #000 !important;
  border-top: 1px solid #000 !important;
}